.form-group:not(:last-child) {
  margin-right: 50px;
}
form {
  margin-bottom: 10px;
}
.pagination {
  justify-content: center;
}
.link {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.container {
  max-width: 1200px;
}
.btn-primary {
  margin-right: 10px;
}
.container-fluid {
  max-width: 1600px;
}
